#admin{
    padding: 30px ;
    margin-top: 80px;
    button{
        width: 150px;
        height: 50px;
        background: #010049;
        border-radius: 5px;
        font-size: 15px;
        color: white;
        margin-top: 20px;
    }
   .admin{
    display: flex;
    align-items:start;
    justify-content: center;
    gap: 30px;
    input{
        // width: 200px;
        // height: 200px;
        border-radius: 5px;
            border: 1.4px solid #010049;
            outline: none;
            padding: 10px 0 170px 10px;
    }
    &--block{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    
        input{
            width: 242px;
            height: 45px;
            border-radius: 5px;
            border: 1.4px solid #010049;
            outline: none;
            padding: 0 10px;
            position: relative;
        }
        &__search{
            display: flex;
            gap: 12px;
            input{
                width: 103px;
                height: 45px;
                border-radius: 5px;
                border: 1.4px solid #010049;
                outline: none;
                padding: 0 10px;
                position: relative;
            } 
        }
    }
   }
}