#admin{
    padding: 30px ;
    margin-top: 80px;
    .admin{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
        button{
            width: 150px;
            height: 50px;
            background: #010049;
            border-radius: 5px;
            font-size: 15px;
            color: white;
        }
        input{
            width: 400px;
            height: 45px;
            border-radius: 5px;
            border: 1.4px solid #010049;
            outline: none;
            padding: 0 10px;
            position: relative;
        }
        &--search{
            display: flex;
            gap: 12px;
            input{
                width: 183px;
                height: 45px;
                border-radius: 5px;
                border: 1.4px solid #010049;
                outline: none;
                padding: 0 10px;
                position: relative;
            } 
        }
        &--des{
            input{
                width: 400px;
                height: 195px;
                border-radius: 5px;
                border: 1px solid #010049;
                outline: none;
                position: relative;
                &::placeholder{
                    margin-top: 0;
                }
                
            }  
        }
    }
}