@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
#book {
  margin: 30px 0;
  .book {
    button {
      padding: 20px;
      width: 180px;
      height: 21px;
      border: solid 1px #010049;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      border-radius: 20px;
    }
    &--sort {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 100%;
        margin: 30px 0;
      }
      button {
        margin-top: 10px;
        font-size: 15px;
        padding: 10px;
        width: 200px;
        height: 37px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        background: none;
        outline: navajowhite;
        border: 1px solid black;
      }
    }
    &--blocks {
      margin: 30px 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 40px;

      &__block {
        width: 195px;
        height: 355px;
        border-radius: 15px;
        img {
          width: 100%;
          height: 80%;
          //  object-fit: cover;
        }
        p {
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 13px;
          line-height: 118%;
          letter-spacing: -2.5%;
        }
        &--salt {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 5px 0;
          h4 {
            font-family: "Roboto", sans-serif;
            font-weight: 800;
            font-size: 22px;
          }
          a {
            font-size: 24px;
          }
        }
      }
    }
  }
}
