@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
#header {
  padding: 15px 0;
  background: #010049;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--nav {
      display: flex;
      gap: 20px;
      &__search {
        input {
          width: 300px;
          height: 35px;
          border-radius: 10px;
          border: 1px solid black;
          outline: none;
          padding: 0 10px;
          position: relative;
        }
        a {
          position: absolute;
          right: 319px;
          font-size: 20px;
          top: 23px;
        }
      }
      &__block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        p {
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: 0%;
        }
      }
    }
  }

}
// .modalbg {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background: rgba(255, 255, 255, 0.484);
//   z-index: 2;
//   &--modolblock {
//     top: 20%;
//     right: 34%;
//     background: rgb(242, 51, 51);
//     z-index: 1;
//     border-radius: 20px;
//     -webkit-box-shadow: -1px 1px 4px 0px rgba(66, 68, 90, 1);
//     -moz-box-shadow: -1px 1px 4px 0px rgba(66, 68, 90, 1);
//     box-shadow: -1px 1px 4px 0px rgba(66, 68, 90, 1);

//     input {
//       width: 90%;
//     }
//   }
// }
