@use "../src/assets/style/Header.scss";
@use "../src/assets/style/Admin.scss";
@use "../src/assets/style/Category.scss";
@use "../src/assets/style/BookCard.scss";
@use "../src/assets/style/Footer.scss";
@use "../src/assets/style/Create.scss";
